.sidenav {    position: fixed;
    right: -30px;
    top: 125px;
    width: 236px;
    height: auto;
    border-left: 1px solid #191e3a;}
.sidenav .sidenav-header:after { display: none; }
.sidenav .sidenav-header p {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
    background: #1b55e2;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #1b55e2 0%, #5c1ac3 100%);
}
.sidenav .sidenav-content {
    background-color: transparent;
    display: block;
    border: none;
}
.sidenav .sidenav-content a {
    display: block;
    padding: 3px 0px;
    color: #bfc9d4;
    font-size: 12px;
    padding: 3px 25px;
}
.sidenav .sidenav-content a.active {
    color: #25d5e4;
    font-weight: 700;
    border-left: 1px solid #25d5e4;
}
.sidenav .sidenav-content a:hover {
    color: #25d5e4;
   font-weight: 700;
    border-left: 1px solid #25d5e4;
}
#content > .container {
    display: flex;
    max-width: 58.333333%!important;
    margin-left: 80px;
    margin-left: 2px;
    padding: 0 16px!important;
}
#content > .container > .container { padding: 0; margin: 0; }
@media (max-width: 575px) {
    .sidenav .sidenav-content a {
        padding: 4px 7px;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 1199px) {
    .sidenav { display: none; }
    #content > .container {
        max-width: 100%!important;
        margin-left: auto;
    }
    #content > .container > .container {
        max-width: 100%;
    }
}
.tile {
    width: 100%;
    padding-right: 15px;
    padding-top: 30px;
    padding-left: 1px;
}
#tile-1 .tab-pane
{
  padding:15px;
  height:80px;
}
#tile-1 .nav-tabs {
    position: relative;
    border: none!important;
    background-color: #0e1726;
    border-radius:6px;
}

#tile-1 .nav-tabs li
{
  margin:0px!important;
}
#tile-1 .nav-tabs li a {
    position: relative;
    margin-right: 0px!important;
    padding: 20px 40px!important;
    font-size: 16px;
    border: none!important;
    color: #e4e4e4;
}
#tile-1 .nav-tabs a:hover {
    background-color: #1a1c2d!important;
    border: none;
}
#tile-1 .slider
{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  background-color:#39bcd3;
  position:absolute;
  z-index:1200;
  bottom:0;
  transition:all .4s linear;
  
}
#tile-1 .nav-tabs .active
{
  background-color:transparent!important;
  border:none!important;
  color:#39bcd3!important;
}